/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(80.94deg, #0B0118 2.62%, rgba(22, 4, 38, 0.95) 25%, rgba(39, 8, 80, 0.95) 48.01%, rgba(32, 6, 66, 0.95) 70%, #1C033D 95.31%)
}

body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.dropzone {
  cursor: pointer;
  padding: 20px;
  text-align: center;
  border: 2px dashed var(--nextui-colors-border);
  border-radius: 10px;
  background: var(--nextui-colors-background);
  color: var(--nextui-colors-text);
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.dropzone:hover {
  border-color: var(--nextui-colors-primary);
}

.dropzone.active {
  background: var(--nextui-colors-accents1);
  color: var(--nextui-colors-accents9);
  border-color: var(--nextui-colors-primary);
}

.dropzone p {
  margin: 0;
  font-size: var(--nextui-fontSizes-md);
}

.custom-gradient-bg {
  /* background: radial-gradient(ellipse 80% 50% at 50% -20%, rgba(0,24,51,.6), rgba(25,8,43,.3)); */
}
/* Add this to your global CSS file */
.custom-radio span[aria-hidden="true"] {
  display: none;
}

/* Add this to your CSS file */

.custom-radio input[type="radio"] {
  display: none;
}

/* Add styles to ensure the border and other styles remain intact */
.custom-radio .nextui-radio-dot {
  display: none;
}

.toast-dark {
  background-color: #1E1E29 !important;
  color: #fff !important;
}
