/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    padding: 20px 20px 60px;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dropzone {
  cursor: pointer;
  padding: 20px;
  text-align: center;
  border: 2px dashed var(--nextui-colors-border);
  border-radius: 10px;
  background: var(--nextui-colors-background);
  color: var(--nextui-colors-text);
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.dropzone:hover {
  border-color: var(--nextui-colors-primary);
}

.dropzone.active {
  background: var(--nextui-colors-accents1);
  color: var(--nextui-colors-accents9);
  border-color: var(--nextui-colors-primary);
}

.dropzone p {
  margin: 0;
  font-size: var(--nextui-fontSizes-md);
}

.custom-gradient-bg {
  background: radial-gradient(ellipse 80% 50% at 50% -20%, rgba(0,24,51,.6), rgba(25,8,43,.3));
}

.custom-radio span[aria-hidden="true"] {
  display: none;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio .nextui-radio-dot {
  display: none;
}

.toast-dark {
  background-color: #1E1E29 !important;
  color: #fff !important;
}

.bg-radial {
  background-image: radial-gradient(ellipse 80% 50% at 50% -20%, rgba(0, 24, 51, 0.6), rgba(25, 8, 43, 0.3));
}

.bg-image {
  background: url('/images/default-gradient.png') no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.5 /* Adjust the opacity value to make the image more visible */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse 80% 50% at 50% -20%, rgba(0, 24, 51, 0.6), rgba(25, 8, 43, 0.3));
  opacity: 0.1;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}
